Source: sim-tool
Section: electronics
Priority: optional
Maintainer: Philipp Schürmann <spam@mrgoro.de>
Build-Depends: debhelper (>= 9)

Package: sim-tool
Architecture: all
Depends: python2.7, python-messaging
Homepage: https://github.com/MrGoro/sim7600-tool
Description: SIM7600 Tool
 SIM7600 Tool is written in Python
 and is a command line tool for
 communication with the SIM7600E
 module.
 It is build for use with Raspberry
 Pi but may work on other systems
 or with other modules.