#!/usr/bin/make -f

clean:
	@# Do nothing

build:
	@# Do nothing

binary:
	mkdir -p debian/sim-tool
	mkdir -p debian/sim-tool/usr/bin
	cp sim-tool debian/sim-tool/usr/bin/
	mkdir -p debian/sim-tool/usr/share/sim-tool
	cp sim-tool.py debian/sim-tool/usr/share/sim-tool
	cp -R sim debian/sim-tool/usr/share/sim-tool
	dh_gencontrol
	dh_builddeb
